body{
font-family:'Poppins',sans-serif;
margin:0;
background:#fdf6e3;   /* light cream */
color:#333;
}
/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#5c4033;
padding:15px 40px;
}
.logo{
color:white;
font-size:22px;
font-weight:600;
}

.nav-links{
display:flex;
list-style:none;
gap:25px;
margin:0;
padding:0;
}

.nav-links a{
color:white;
text-decoration:none;
font-size:16px;
}

.nav-links a:hover{
color:#00adb5;
}

/* HERO */

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:#fff8e7;   /* cream background */
color:#333;
padding:20px;
}

.hero h1{
font-size:60px;
margin-bottom:10px;
}

.hero p{
font-size:22px;
}

.btn{
margin-top:25px;
padding:14px 28px;
background:#c97b3b;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:600;
transition:0.3s;
}

.btn:hover{
background:#a85f2b;
}

/* CONTENT */

section{
max-width:900px;
margin:auto;
padding:50px 20px;
text-align:center;
}

/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:25px;
}